In [1]:
from __future__ import print_function, division
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
unames=['user_id','gender','age','occupation','zip']

In [3]:
users=pd.read_table('movielens/users.dat',sep='::',header=None, names=unames)

<ipython-input-3-2d3d2bbfbce3>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users=pd.read_table('movielens/users.dat',sep='::',header=None, names=unames)

In [4]:
rnames=['user_id','movie_id','rating','timestamp']
ratings=pd.read_table('movielens/ratings.dat',sep='::',header=None,names=rnames)

<ipython-input-4-56b6f7341541>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings=pd.read_table('movielens/ratings.dat',sep='::',header=None,names=rnames)

In [5]:
mnames=['movie_id','title','genres']
movies=pd.read_table('movielens/movies.dat',sep='::',header=None,names=mnames)

<ipython-input-5-e36b6c0a6948>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies=pd.read_table('movielens/movies.dat',sep='::',header=None,names=mnames)

In [26]:
users['user_id']=users['user_id'].astype('object')

In [10]:
users.head()

  user_id gender  age  occupation    zip
0       1      F    1          10  48067
1       2      M   56          16  70072
2       3      M   25          15  55117
3       4      M   45           7  02460
4       5      M   25          20  55455

In [11]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     6040 non-null   object
 1   gender      6040 non-null   object
 2   age         6040 non-null   int64
 3   occupation  6040 non-null   int64
 4   zip         6040 non-null   object
dtypes: int64(2), object(3)
memory usage: 236.1+ KB

In [28]:
data=pd.merge(movies,ratings)

In [29]:
data.head()

,movie_id,title,genres,user_id,rating,timestamp
0,movieId,title,class,userId,rating,timestamp
1,1,Toy Story (1995),Animation|Children's|Comedy,1,5,978824268
2,1,Toy Story (1995),Animation|Children's|Comedy,6,4,978237008
3,1,Toy Story (1995),Animation|Children's|Comedy,8,4,978233496
4,1,Toy Story (1995),Animation|Children's|Comedy,9,5,978225952

In [30]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000210 entries, 0 to 1000209
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1000210 non-null  object
 1   movie_id   1000210 non-null  object
 2   rating     1000210 non-null  object
 3   timestamp  1000210 non-null  object
dtypes: object(4)
memory usage: 30.5+ MB

In [27]:
data

Empty DataFrame
Columns: [user_id, gender, age, occupation, zip, movie_id, rating, timestamp]
Index: []