In [16]:
import numpy as np
import pandas as pd 
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# read and deal with data of Iris

In [2]:
iris=load_iris()

In [3]:
df=pd.DataFrame(data=iris.data,columns=iris.feature_names)
df['class']=iris.target
df['class']=df['class'].map({0:iris.target_names[0],1:iris.target_names[1],2:iris.target_names[2]})
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [4]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [5]:
x=iris.data
y=iris.target.reshape(-1,1)

In [7]:
#according the result of y to split data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=35,stratify=y)

In [11]:
test=np.array([2,1,55,678,100])
test_index=np.argsort(test)
y_train[test_index[:3]]

array([[2],
       [1],
       [2]])

# realize algorithm

In [8]:
# define distance
def l1_distance(a,b):
    return np.sum(np.abs(a-b),axis=1)

In [10]:
def l2_distance(a,b):
    return np.sqrt(np.sum((a-b)**2,axis=1))

In [12]:
#classification
class kNN(object):
    #define initial function
    def __init__(self,n_neighbors=1,dist_func=l1_distance):
        self.n_neighbors=n_neighbors
        self.dist_func=dist_func
        
    def fit(self,x,y):
        self.x_train=x
        self.y_train=y
        
    def predict(self,x):
        y_pred=np.zeros((x.shape[0],1),dtype=self.y_train.dtype) #y_train is int np.zeors is 0.
        
        #obteain data number i and x_test
        for i, x_test in enumerate(x):
            #calculate distance with train data
            distances=self.dist_func(self.x_train,x_test)
            
            #sort the distance from near to far with index
            nn_index=np.argsort(distances)
            
            
            #choose the smalleast k points
            nn_y=self.y_train[nn_index[:self.n_neighbors]].ravel()
            
            #find the most frequent one, y_pred[i]
            y_pred[i]=np.argmax(np.bincount(nn_y))
        return y_pred

# test algorithm

In [14]:
knn=kNN(n_neighbors=3)

In [15]:
#train model
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)

#obtain accuracy
accuracy=accuracy_score(y_test,y_pred)
print("accuracy is {0}".formata(accuracy))

NameError: name 'accuracy_score' is not defined