In [1]:
import tensorflow
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("ex1data1.txt",sep=",",names=['population','profit'])
df.head()

   population   profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [3]:
ones=pd.DataFrame({'ones':np.ones(len(df))})

In [4]:
ones

    ones
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
..   ...
92   1.0
93   1.0
94   1.0
95   1.0
96   1.0

[97 rows x 1 columns]

In [5]:
df=pd.read_csv("ex1data1.txt",sep=",",names=['population','profit'])
df.head()

   population   profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [7]:
data=pd.concat([ones,df],axis=1)
data

    ones  population    profit
0    1.0      6.1101  17.59200
1    1.0      5.5277   9.13020
2    1.0      8.5186  13.66200
3    1.0      7.0032  11.85400
4    1.0      5.8598   6.82330
..   ...         ...       ...
92   1.0      5.8707   7.20290
93   1.0      5.3054   1.98690
94   1.0      8.2934   0.14454
95   1.0     13.3940   9.05510
96   1.0      5.4369   0.61705

[97 rows x 3 columns]

In [12]:
x=data.iloc[:,:-1].values

In [13]:
x[0]

array([1.    , 6.1101])

In [21]:
test=x[:,1].reshape(-1,1)

In [22]:
test*(ones*2)

       ones
0   12.2202
1   11.0554
2   17.0372
3   14.0064
4   11.7196
..      ...
92  11.7414
93  10.6108
94  16.5868
95  26.7880
96  10.8738

[97 rows x 1 columns]

In [25]:
theta=[1,2]

In [26]:
test2=x@theta