In [1]:
from __future__ import print_function, division
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
unames=['user_id','gender','age','occupation','zip']

In [3]:
users=pd.read_table('movielens/users.dat',sep='::',header=None, names=unames)

<ipython-input-3-2d3d2bbfbce3>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users=pd.read_table('movielens/users.dat',sep='::',header=None, names=unames)

In [4]:
ratings=pd.read_table('movielens/ratings.dat',sep='::')

<ipython-input-4-71bf6a0edf0e>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings=pd.read_table('movielens/ratings.dat',sep='::')

In [5]:
movies=pd.read_table('movielens/movies.dat',sep='::')

<ipython-input-5-37bb0ded5e0b>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies=pd.read_table('movielens/movies.dat',sep='::')

In [6]:
users.head()

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [7]:
movies

,movie_id,title,class
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [8]:
ratings

         user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
...          ...       ...     ...        ...
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [9]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     6040 non-null   int64
 1   gender      6040 non-null   object
 2   age         6040 non-null   int64
 3   occupation  6040 non-null   int64
 4   zip         6040 non-null   object
dtypes: int64(3), object(2)
memory usage: 236.1+ KB

In [10]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1000209 non-null  int64
 1   movie_id   1000209 non-null  int64
 2   rating     1000209 non-null  int64
 3   timestamp  1000209 non-null  int64
dtypes: int64(4)
memory usage: 30.5 MB

In [11]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  3883 non-null   int64
 1   title     3883 non-null   object
 2   class     3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [12]:
data=pd.merge(pd.merge(users,ratings),movies)

In [13]:
data.head()

,user_id,gender,age,occupation,zip,movie_id,rating,timestamp,title,class
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama

In [14]:
data[data.user_id==1]

,user_id,gender,age,occupation,zip,movie_id,rating,timestamp,title,class
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1725,1,F,1,10,48067,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical
2250,1,F,1,10,48067,914,3,978301968,My Fair Lady (1964),Musical|Romance
2886,1,F,1,10,48067,3408,4,978300275,Erin Brockovich (2000),Drama
4201,1,F,1,10,48067,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy
5904,1,F,1,10,48067,1197,3,978302268,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
8222,1,F,1,10,48067,1287,5,978302039,Ben-Hur (1959),Action|Adventure|Drama
8926,1,F,1,10,48067,2804,5,978300719,"Christmas Story, A (1983)",Comedy|Drama
10278,1,F,1,10,48067,594,4,978302268,Snow White and the Seven Dwarfs (1937),Animation|Children's|Musical
11041,1,F,1,10,48067,919,4,978301368,"Wizard of Oz, The (1939)",Adventure|Children's|Drama|Musical
12759,1,F,1,10,48067,595,5,978824268,Beauty and the Beast (1991),Animation|Children's|Musical
13819,1,F,1,10,48067,938,4,978301752,Gigi (1958),Musical
14006,1,F,1,10,48067,2398,4,978302281,Miracle on 34th Street (1947),Drama
14386,1,F,1,10,48067,2918,4,978302124,Ferris Bueller's Day Off (1986),Comedy
15859,1,F,1,10,48067,1035,5,978301753,"Sound of Music, The (1965)",Musical
16741,1,F,1,10,48067,2791,4,978302188,Airplane! (1980),Comedy
18472,1,F,1,10,48067,2687,3,978824268,Tarzan (1999),Animation|Children's
18914,1,F,1,10,48067,2018,4,978301777,Bambi (1942),Animation|Children's
19503,1,F,1,10,48067,3105,5,978301713,Awakenings (1990),Drama
20183,1,F,1,10,48067,2797,4,978302039,Big (1988),Comedy|Fantasy
21674,1,F,1,10,48067,2321,3,978302205,Pleasantville (1998),Comedy
22832,1,F,1,10,48067,720,3,978300760,Wallace & Gromit: The Best of Aardman Animatio...,Animation
23270,1,F,1,10,48067,1270,5,978300055,Back to the Future (1985),Comedy|Sci-Fi
25853,1,F,1,10,48067,527,5,978824195,Schindler's List (1993),Drama|War
28157,1,F,1,10,48067,2340,3,978300103,Meet Joe Black (1998),Romance
28501,1,F,1,10,48067,48,5,978824351,Pocahontas (1995),Animation|Children's|Musical|Romance
28883,1,F,1,10,48067,1097,4,978301953,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
31152,1,F,1,10,48067,1721,4,978300055,Titanic (1997),Drama|Romance
32698,1,F,1,10,48067,1545,4,978824139,Ponette (1996),Drama
32771,1,F,1,10,48067,745,3,978824268,"Close Shave, A (1995)",Animation|Comedy|Thriller
33428,1,F,1,10,48067,2294,4,978824291,Antz (1998),Animation|Children's
34073,1,F,1,10,48067,3186,4,978300019,"Girl, Interrupted (1999)",Drama
34504,1,F,1,10,48067,1566,4,978824330,Hercules (1997),Adventure|Animation|Children's|Comedy|Musical
34973,1,F,1,10,48067,588,4,978824268,Aladdin (1992),Animation|Children's|Comedy|Musical
36324,1,F,1,10,48067,1907,4,978824330,Mulan (1998),Animation|Children's
36814,1,F,1,10,48067,783,4,978824291,"Hunchback of Notre Dame, The (1996)",Animation|Children's|Musical
37204,1,F,1,10,48067,1836,5,978300172,"Last Days of Disco, The (1998)",Drama
37339,1,F,1,10,48067,1022,5,978300055,Cinderella (1950),Animation|Children's|Musical
37916,1,F,1,10,48067,2762,4,978302091,"Sixth Sense, The (1999)",Thriller
40375,1,F,1,10,48067,150,5,978301777,Apollo 13 (1995),Drama
41626,1,F,1,10,48067,1,5,978824268,Toy Story (1995),Animation|Children's|Comedy
43703,1,F,1,10,48067,1961,5,978301590,Rain Man (1988),Drama
45033,1,F,1,10,48067,1962,4,978301753,Driving Miss Daisy (1989),Drama
45685,1,F,1,10,48067,2692,4,978301570,Run Lola Run (Lola rennt) (1998),Action|Crime|Romance
46757,1,F,1,10,48067,260,4,978300760,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
49748,1,F,1,10,48067,1028,5,978301777,Mary Poppins (1964),Children's|Comedy|Musical
50759,1,F,1,10,48067,1029,5,978302205,Dumbo (1941),Animation|Children's|Musical
51327,1,F,1,10,48067,1207,4,978300719,To Kill a Mockingbird (1962),Drama
52255,1,F,1,10,48067,2028,5,978301619,Saving Private Ryan (1998),Action|Drama|War
54908,1,F,1,10,48067,531,4,978302149,"Secret Garden, The (1993)",Children's|Drama
55246,1,F,1,10,48067,3114,4,978302174,Toy Story 2 (1999),Animation|Children's|Comedy
56831,1,F,1,10,48067,608,4,978301398,Fargo (1996),Crime|Drama|Thriller
59344,1,F,1,10,48067,1246,4,978302091,Dead Poets Society (1989),Drama

In [16]:
ratings_by_gender=data.pivot_table(values='rating',index='title',columns='gender',aggfunc='mean')

In [17]:
ratings_by_gender.head(10)

gender                                    F         M
title
$1,000,000 Duck (1971)             3.375000  2.761905
'Night Mother (1986)               3.388889  3.352941
'Til There Was You (1997)          2.675676  2.733333
'burbs, The (1989)                 2.793478  2.962085
...And Justice for All (1979)      3.828571  3.689024
1-900 (1994)                       2.000000  3.000000
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000
101 Dalmatians (1996)              3.240000  2.911215
12 Angry Men (1957)                4.184397  4.328421

In [18]:
ratings_by_gender['diff']=ratings_by_gender.F-ratings_by_gender.M

In [19]:
ratings_by_gender.head(10)

gender                                    F         M      diff
title
$1,000,000 Duck (1971)             3.375000  2.761905  0.613095
'Night Mother (1986)               3.388889  3.352941  0.035948
'Til There Was You (1997)          2.675676  2.733333 -0.057658
'burbs, The (1989)                 2.793478  2.962085 -0.168607
...And Justice for All (1979)      3.828571  3.689024  0.139547
1-900 (1994)                       2.000000  3.000000 -1.000000
10 Things I Hate About You (1999)  3.646552  3.311966  0.334586
101 Dalmatians (1961)              3.791444  3.500000  0.291444
101 Dalmatians (1996)              3.240000  2.911215  0.328785
12 Angry Men (1957)                4.184397  4.328421 -0.144024

In [20]:
ratings_by_gender.sort_values(by='diff',ascending=True).head(10)

gender                                        F         M      diff
title
Tigrero: A Film That Was Never Made (1994)  1.0  4.333333 -3.333333
Neon Bible, The (1995)                      1.0  4.000000 -3.000000
Enfer, L' (1994)                            1.0  3.750000 -2.750000
Stalingrad (1993)                           1.0  3.593750 -2.593750
Killer: A Journal of Murder (1995)          1.0  3.428571 -2.428571
Dangerous Ground (1997)                     1.0  3.333333 -2.333333
In God's Hands (1998)                       1.0  3.333333 -2.333333
Rosie (1998)                                1.0  3.333333 -2.333333
Flying Saucer, The (1950)                   1.0  3.300000 -2.300000
Jamaica Inn (1939)                          1.0  3.142857 -2.142857

In [22]:
ratings_by_title=data.groupby(by='title').size()

In [24]:
ratings_by_title.sort_values(ascending=False).head(10)

title
American Beauty (1999)                                   3428
Star Wars: Episode IV - A New Hope (1977)                2991
Star Wars: Episode V - The Empire Strikes Back (1980)    2990
Star Wars: Episode VI - Return of the Jedi (1983)        2883
Jurassic Park (1993)                                     2672
Saving Private Ryan (1998)                               2653
Terminator 2: Judgment Day (1991)                        2649
Matrix, The (1999)                                       2590
Back to the Future (1985)                                2583
Silence of the Lambs, The (1991)                         2578
dtype: int64

In [26]:
mean_ratings=data.pivot_table(values='rating',index='title',aggfunc='mean')

In [28]:
mean_ratings.head

<bound method NDFrame.head of                                               rating
title
$1,000,000 Duck (1971)                      3.027027
'Night Mother (1986)                        3.371429
'Til There Was You (1997)                   2.692308
'burbs, The (1989)                          2.910891
...And Justice for All (1979)               3.713568
...                                              ...
Zed & Two Noughts, A (1985)                 3.413793
Zero Effect (1998)                          3.750831
Zero Kelvin (Kj�rlighetens kj�tere) (1995)  3.500000
Zeus and Roxanne (1997)                     2.521739
eXistenZ (1999)                             3.256098

[3706 rows x 1 columns]>

In [29]:
mean_ratings.sort_values(by='rating',ascending=False).head()

                          rating
title
Ulysses (Ulisse) (1954)      5.0
Lured (1947)                 5.0
Follow the Bitch (1998)      5.0
Bittersweet Motel (2000)     5.0
Song of Freedom (1936)       5.0

In [45]:
top_10_hot=ratings_by_title.sort_values(ascending=False).head(10)
top_10_hot

title
American Beauty (1999)                                   3428
Star Wars: Episode IV - A New Hope (1977)                2991
Star Wars: Episode V - The Empire Strikes Back (1980)    2990
Star Wars: Episode VI - Return of the Jedi (1983)        2883
Jurassic Park (1993)                                     2672
Saving Private Ryan (1998)                               2653
Terminator 2: Judgment Day (1991)                        2649
Matrix, The (1999)                                       2590
Back to the Future (1985)                                2583
Silence of the Lambs, The (1991)                         2578
dtype: int64

In [33]:
top_10_hot.index

Index(['American Beauty (1999)', 'Star Wars: Episode IV - A New Hope (1977)',
       'Star Wars: Episode V - The Empire Strikes Back (1980)',
       'Star Wars: Episode VI - Return of the Jedi (1983)',
       'Jurassic Park (1993)', 'Saving Private Ryan (1998)',
       'Terminator 2: Judgment Day (1991)', 'Matrix, The (1999)',
       'Back to the Future (1985)', 'Silence of the Lambs, The (1991)'],
      dtype='object', name='title')

In [40]:
mean_ratings.loc[top_10_hot.index]

                                                      rating
title
American Beauty (1999)                              4.317386
Star Wars: Episode IV - A New Hope (1977)           4.453694
Star Wars: Episode V - The Empire Strikes Back ...  4.292977
Star Wars: Episode VI - Return of the Jedi (1983)   4.022893
Jurassic Park (1993)                                3.763847
Saving Private Ryan (1998)                          4.337354
Terminator 2: Judgment Day (1991)                   4.058513
Matrix, The (1999)                                  4.315830
Back to the Future (1985)                           3.990321
Silence of the Lambs, The (1991)                    4.351823

In [46]:
top_10_score=mean_ratings.sort_values(by='rating',ascending=False).head(20)

In [47]:
ratings_by_title.loc[top_10_score.index]

title
Ulysses (Ulisse) (1954)                                                   1
Lured (1947)                                                              1
Follow the Bitch (1998)                                                   1
Bittersweet Motel (2000)                                                  1
Song of Freedom (1936)                                                    1
One Little Indian (1973)                                                  1
Smashing Time (1967)                                                      2
Schlafes Bruder (Brother of Sleep) (1995)                                 1
Gate of Heavenly Peace, The (1995)                                        3
Baby, The (1973)                                                          1
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                                       5
Lamerica (1994)                                                           8
Apple, The (Sib) (1998)                                                   9
Sanjuro (1962)                                                           69
Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)     628
Shawshank Redemption, The (1994)                                       2227
Godfather, The (1972)                                                  2223
Close Shave, A (1995)                                                   657
Usual Suspects, The (1995)                                             1783
Schindler's List (1993)                                                2304
dtype: int64

In [52]:
hot_movies=ratings_by_title[ratings_by_title>1000]

In [53]:
hot_movies

title
2001: A Space Odyssey (1968)                    1716
Abyss, The (1989)                               1715
African Queen, The (1951)                       1057
Air Force One (1997)                            1076
Airplane! (1980)                                1731
                                                ...
Willy Wonka and the Chocolate Factory (1971)    1313
Witness (1985)                                  1046
Wizard of Oz, The (1939)                        1718
X-Men (2000)                                    1511
Young Frankenstein (1974)                       1193
Length: 207, dtype: int64

In [55]:
hot_movie_rating=mean_ratings.loc[hot_movies.index]

In [56]:
top_10_movies=hot_movie_rating.sort_values(ascending=False).head(10)

TypeError: sort_values() missing 1 required positional argument: 'by'